site_name: SaltPy Documentation
theme:
  name: readthedocs
  highlightjs: true
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: sphinx
markdown_extensions:
  - markdown_include.include:
      base_path: .
  - admonition
nav:
  - Home: index.md
  - Installation:
      - Set-Up: setup/installation.md
  - API Documentation:
      - SonarPy: api/SonarPy.md
      - SonarPlots: api/SonarPlots.md
      - SonarDXF: api/SonarDXF.md
      - SonarPyVista: api/SonarPyVista.md
  - Examples:
      - Mesh Example Simple: examples/wireframe-simple-EXAMPLE.md
      - Mesh Example: examples/wireframe-EXAMPLE.md
  - Abstract:
      - Project Overview: api/abstract.md